* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 10px; */
    text-shadow: dodgerblue;
    ;
}

body {
    margin : 0;
    margin : 0;
    padding : 5px;
}
.nav{
    text-decoration: none;
    display: inline-block;
    /* float : left; */
}

h1 {
    color : burlywood;
    text-align: center;
    background-color: #e2e2e2;
    padding: 5px;
    margin : 0
}

.main-img{
    border: 4px solid black;
    border-radius: 50%;
    transition: all .5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-img:hover{
    transform: scale(1.2) rotate(360deg);
}

.marks {
    position: absolute;
    right: 25px;
    font-weight: bolder;
    text-shadow: rgba(red, green, blue, alpha);
}

@media (min-width : 1200px) {

.left{
    width : 50%;
    float : left;
    padding : 30px;
    position: relative;
}

.right{
    width: 50%;
    float : right;
    padding : 30px;
    position: relative;
}
   
}