h1 {
    color : burlywood;
    text-align: center;
    background-color: #e2e2e2;
    padding: 5px;
}

.main-img{
    border: 4px solid black;
    border-radius: 50%;
    transition: all .5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-img:hover{
    transform: scale(1.2) rotate(360deg);
}