/* Importing fonts from fonts.css file */
@import url(fonts.css);

/* CSS Variables */
@import url(partials/_variables.css);

/* Start Navigation */

.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
  padding: 1rem 6rem;
}

.header-area .main-menu .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 0rem 1.5rem;
  color: var(--title-colour);
}
/* End Navigation */
