/* Importing fonts from fonts.css file */
@import url(./fonts.css);

/* CSS Variables */
@import url(./variables.css);

/* Global CSS */
@import url(./global.css);
/* Start Navigation */

.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
  padding: 1rem 6rem;
}

.header-area .main-menu .nav-item .nav-link {
  font: normal 500 15px var(--roboto);
  text-transform: uppercase;
  padding: 0rem 1.5rem;
  color: var(--title-colour);
}

.header-area .main-menu .navbar-nav .active a {
  background: var(--gradient-colour);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-colour);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  color: var(--gradient-colour);
}

/* End Navigation */

/* Banner Area */
.row {
  display:flex;
}

.site-main .site-banner .site-title h3 {
  padding-top: 15%;
  font-weight: 500;
  align-items: center;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 16vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 3rem;
  display: block;
  width: 100%;
  margin: auto;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img {
  /* padding: 3rem 0; */
  /* width: 90rem; */
  display: block;
  max-width: 50%;
  margin: auto;
  box-shadow: 20px 30px 40px rgba(0, 0, 0, 0.205);
  margin-bottom: 50px;
  padding: 5px;
  background: var(--gradient-colour);
  
}

.site-title {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 991px){
  .site-title {
    order:2;
  }
  
  .banner-image{
    order:1;
    padding-top: 1rem;
  }

  .banner-image > img{
    margin-top:30px !important;
  }
}

/* End Banner Area */
