html,
body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  width:100%;
  height: 100%;
  
}

main{
  margin-left:4rem;
}

/* CSS Variables */

:root {
  --primary-colour: #4458dc;
  --primary-colour2: #854fee;
  --title-colour: #141313;
  --text-colour: #777777;
  --border-colour: #201f1f17;
  --gradient-colour: linear-gradient(45deg, #4458dc 30%, #854fee 70%);
  /* --gradient-colour: linear-gradient(45deg, red, blue); */
  --shadow-colour: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

  /* font family variable */
  --roboto: "Roboto", cursive;
}
